<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="mainMediaFragmentHead">
    <link rel="stylesheet" href="/styles/mainMedia.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="mainMediaFragment" class="mainMedia-wrapper">
        <div class="mainMedia-cont">
            <div class="mainMedia-top">
                <div class="mainMedia-title">
                    <div class="mainMedia-title-front">집 - 중</div>
                    <div class="mainMedia-title-back">EATZ TV</div>
                </div>
                <div class="mainMedia-title-end">
                    <button class="mainMedia-more-btn">
                        <div class="more-text">더보기</div>
                        <div class="more-ico"></div>
                    </button>
                </div>
            </div>
            <div class="mainMedia-row">
                <div class="mainMedia-frame">
                    <div class="mainMedia-frame-img"></div>
                    <div class="mainMedia-frame-name"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>