<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="mainCouponFragmentHead">
    <link rel="stylesheet" href="/styles/mainCoupon.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="mainCouponFragment" class="mainCoupon-wrapper">
        <div class="mainCoupon-cont">
            <div class="mainCoupon-cont-intro">
                <div class="mainCoupon-title">바로 받는 쿠폰</div>
                <button class="mainCoupon-title-end">
                    <div class="more-text">더보기</div>
                    <div class="more-ico"></div>
                </button>
            </div>
            <div class="mainCoupon-row">
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="MainCoupon-brand"></div>
                        <div class="MainCoupon-name"></div>
                        <div class="MainCoupon-beforePrice"></div>
                        <div class="MainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row1-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row2-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row3-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row1-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row4-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row5-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row6-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row7-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row8-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row9-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
                <div class="mainCoupon-row-coupon">
                    <div class="mainCoupon-row-coupon-info">
                        <div class="mainCoupon-brand"></div>
                        <div class="mainCoupon-name"></div>
                        <div class="mainCoupon-beforePrice"></div>
                        <div class="mainCoupon-afterPrice"></div>
                    </div>
                    <div class="mainCoupon-row10-prodect-img"></div>
                    <div class="mainCoupon-downlord-ico"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>