<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="mainAsideFragmentHead">
    <link rel="stylesheet" href="/styles/mainAside.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="mainAsideFragment" class="mainAside-wrapper">
        <div class="mainAside-cont">
            <div class="user-name-tag">고객님,</div>
            <div class="aside-comment-top">
                <div class="aside-comment-side">오늘도</div><br>
                <div class="aside-comment-eatz">EATZ</div><br>
                <div class="aside-comment-side">하세요!</div>
            </div>
            <div class="aside-comment-mileage">EATZ마일을 확인해 보세요.</div>
            <div class="aside-mileage-cont">
                <div class="aside-mileage-brand-img-outline mileage-ria-outline">
                    <div class="aside-mileage-brand-img-ria"></div>
                </div>
                <div class="aside-mileage-brand-comment">
                    <div class="aside-mileage-brand-name">롯데리아</div>
                    <div class="aside-mileage-brand-subcomment">등급혜택을 받아보세요!</div>
                </div>
            </div>
            <div class="aside-mileage-cont">
                <div class="aside-mileage-brand-img-outline mileage-kkd-outline">
                    <div class="aside-mileage-brand-img-kkd"></div>
                </div>
                <div class="aside-mileage-brand-comment">
                    <div class="aside-mileage-brand-name">크리스피크림 도넛</div>
                    <div class="aside-mileage-brand-subcomment">등급혜택을 받아보세요!</div>
                </div>
            </div>
            <div class="aside-mileage-cont">
                <div class="aside-mileage-brand-img-outline mileage-angel-outline">
                    <div class="aside-mileage-brand-img-angel"></div>
                </div>
                <div class="aside-mileage-brand-comment">
                    <div class="aside-mileage-brand-name">엔제리너스</div>
                    <div class="aside-mileage-brand-subcomment">등급혜택을 받아보세요!</div>
                </div>
            </div>
            <div class="aside-link-comment">
                <div class="aside-link-comment-front">브랜드</div>
                <div class="aside-link-comment-back">바로가기</div>
            </div>
            <div class="aside-link">
                <div class="aside-link-item aside-link-ria">
                    <div class="aside-link-brand-name">롯데리아</div>
                </div>
                <div class="aside-link-item aside-link-kkd">
                    <div class="aside-link-brand-name">크리스피크림 도넛</div>
                </div>
            </div>
            <div class="aside-link">
                <div class="aside-link-item aside-link-angel">
                    <div class="aside-link-brand-name-angel">엔제리너스</div>
                </div>
                <div class="aside-link-item aside-link-plating">
                    <div class="aside-link-brand-name">플레:이팅</div>
                </div>
            </div>
        </div>
        <div class="mainAside_bottem"></div>
    </div>
</body>

</html>