<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="mainBottomEventFragmentHead">
    <link rel="stylesheet" href="/styles/mainBottomEvent.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="mainBottomEventFragment" class="mainBottomEvent-wrapper">
        <div class="mainBottomEvent-cont">
            <div class="mainBottomEvent-top">
                <div class="mainBottomEvent-title">
                    <div class="mainBottomEvent-title-front">혜택이 쏟아지는</div>
                    <div class="mainBottomEvent-title-back">이벤트</div>
                </div>
                <button class="mainBottomEvent-title-end">
                    <div class="more-text">더보기</div>
                    <div class="more-ico"></div>
                </button>
            </div>
            <div class="mainBottomEvent-row">
                <div class="mainBottomEvent-frame">
                    <div class="mainBottomEvent-frame-img"></div>
                    <div class="mainBottomEvent-frame-cont">
                        <div class="mainBottomEvent-frame-brand-angle"></div>
                        
                    </div>
                    <div class="mainBottomEvent-frame-title"></div>
                    <div class="mainBottomEvent-frame-date"></div>
                </div>
                <div class="mainBottomEvent-frame">
                    <div class="mainBottomEvent-frame-img"></div>
                    <div class="mainBottomEvent-frame-cont">
                        <div class="mainBottomEvent-frame-brand-angle"></div>
                        <div class="mainBottomEvent-frame-info-kind3"></div>
                    </div>
                    <div class="mainBottomEvent-frame-title"></div>
                    <div class="mainBottomEvent-frame-date"></div>
                </div>
                <div class="mainBottomEvent-frame">
                    <div class="mainBottomEvent-frame-img"></div>
                    <div class="mainBottomEvent-frame-cont">
                        <div class="mainBottomEvent-frame-brand-angle"></div>
                        <div class="mainBottomEvent-frame-info-kind3"></div>
                    </div>
                    <div class="mainBottomEvent-frame-title"></div>
                    <div class="mainBottomEvent-frame-date"></div>
                </div>
                <div class="mainBottomEvent-frame">
                    <div class="mainBottomEvent-frame-img"></div>
                    <div class="mainBottomEvent-frame-cont">
                        <div class="mainBottomEvent-frame-brand-angle"></div>
                        <div class="mainBottomEvent-frame-info-kind3"></div>
                    </div>
                    <div class="mainBottomEvent-frame-title"></div>
                    <div class="mainBottomEvent-frame-date"></div>
                </div>
                <div class="mainBottomEvent-frame">
                    <div class="mainBottomEvent-frame-img"></div>
                    <div class="mainBottomEvent-frame-cont">
                        <div class="mainBottomEvent-frame-brand-angle"></div>
                        <div class="mainBottomEvent-frame-info-kind3"></div>
                    </div>
                    <div class="mainBottomEvent-frame-title"></div>
                    <div class="mainBottomEvent-frame-date"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>