<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="quickButtonFragmentHead">
    <link rel="stylesheet" href="/styles/quickButton.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="quickButtonFragment" class="quickButton-wrapper">
        <div class="quickButton-cont">
            <div class="quickButton-slide"><div class="quickButton-img quickButton-coupon"></div><div>쿠폰</div></div>
            <div class="quickButton-slide"><div class="quickButton-img quickButton-event"></div><div>이벤트</div></div>
            <div class="quickButton-slide"><div class="quickButton-img quickButton-exchangeTicket"></div><div>제품교환권</div></div>
            <div class="quickButton-slide"><div class="quickButton-img quickButton-shopping"></div><div>MD</div></div>
            <div class="quickButton-slide"><div class="quickButton-img quickButton-stamp"></div><div>스탬프</div></div>
            <div class="quickButton-slide"><div class="quickButton-img quickButton-EATZcard"></div><div>EATZ 카드</div></div>
            <div class="quickButton-slide"><div class="quickButton-img quickButton-myStore"></div><div>나의 매장</div></div>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>