<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="storeInfoFragmentHead">
    <link rel="stylesheet" href="/styles/storeInfo.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="storeInfoFragment" class="storeInfo-wrapper">
        <div class="storeInfo-cont">
            <div class="storeInfo-guide"><i class="location-ion"></i>
                <span class="text">설정주소</span>
                <div class="location-address">주소를 설정해주세요.</div>
                <div class="location-address-search"><button class="address-search-btn">변경</button></div>
            </div>
            <div class="storeInfo-user-pick">
                <div class="storeInfo-deliveryOrPickUp"></div>
                <div class="storeInfo-brand-link">
                    <div class="storeInfo-lotteria-link">
                        <div class="storeInfo-lotteria-img"></div>
                        <div class="storeInfo-brand-text">롯데리아</div>
                        <div class="storeInfo-bottum-alt">바로가기</div>
                    </div>
                    <div class="storeInfo-angel-link">
                        <div class="storeInfo-angel-img"></div>
                        <div class="storeInfo-brand-text">엔제리너스</div>
                        <div class="storeInfo-bottum-alt">바로가기</div>
                    </div>
                    <div class="storeInfo-kkd-link">
                        <div class="storeInfo-kkd-img"></div>
                        <div class="storeInfo-brand-text">크리스피크림 도넛</div>
                        <div class="storeInfo-bottum-alt">바로가기</div>
                    </div>
                    <div class="storeInfo-plating-link">
                        <div class="storeInfo-plating-img"></div>
                        <div class="storeInfo-brand-text">플레:이팅</div>
                        <div class="storeInfo-bottum-alt">바로가기</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>