<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="weatherPickFragmentHead">
    <link rel="stylesheet" href="/styles/weatherPick.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="weatherPickFragment" class="weatherPick-wrapper">
        <div class="weatherPick-cont">
            <div class="weatherPick-img">
                <div class="weatherPick-weather-ment">펑펑 눈이 온다면?</div>
                <div class="weatherPick-default-ment">잇츠어때</div>
                <div class="weatherPick-menu-row">
                    <div class="weatherPick-menu-row-frame">
                        <div class="weatherPick-menu-outline"><div class="weatherPick-menu-img"></div></div>
                        <div class="weatherPick-menu-brand">롯데리아</div>
                        <div class="weatherPick-menu-name"></div>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>
</body>

</html>