<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragmentHead">
	<link rel="stylesheet" href="/styles/header.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div th:fragment="headerFragment" id="header">
		<div class="header-wrapper">
			<div class="header-top">
				<ul class="user-menu">
					<li class="user-item">
						<a href="" class="user-menu-li">로그인/회원가입</a>
					</li>
					<li class="user-item">
						<a href="" class="user-menu-li">주문/예약 내역</a>
					</li>
					<li class="user-item">
						<a href="" class="user-menu-li">매장찾기</a>
					</li>
				</ul>
			</div>
			<hr>
			<div class="header-bottom">
				<h1 class="header-logo">
					<a href="/index" class="/main"><span class="offscreen">LOTTE EATZ</span></a>
				</h1>
				<ul class="header-deq1">
					<li class="header-deq2-li">
						<button type="button" class="header-deq2-btn">브랜드</button>
						<ul class="header-dep3-menu">
							<li class="header-dep2">
								<a href="/brand/lotteria" class="header-deq3-btn">롯데리아</a>
							</li>
							<li class="header-dep3">
								<a href="/brand/angelinus" class="header-deq3-btn">엔제리너스</a>
							</li>
							<li class="header-dep3">
								<a href="/brand/Krispykreme" class="header-deq3-btn">크리스피크림</a>
							</li>
							<li class="header-dep3">
								<a href="/brand/plating" class="header-deq3-btn">플레:이팅</a>
							</li>
						</ul>
					</li>
					<li class="header-deq2-li">
						<button type="button" class="header-deq2-btn">이벤트</button>
						<ul class="header-dep3-menu">
							<li class="header-dep3">
								<a href="/event/main" class="header-deq3-btn">이벤트</a>
							</li>
							<li class="header-dep3">
								<a href="/event/roulet/list" class="header-deq3-btn">룰렛</a>
							</li>
							<li class="header-dep3">
								<a href="/eatzTv/list" class="header-deq3-btn">EATZ TV</a>
							</li>
							<li class="header-dep3">
								<a href="/event/check/main" class="header-deq3-btn">출석체크</a>
							</li>
						</ul>
					</li>
					<li class="header-deq2-li">
						<button type="button" class="header-deq2-btn">스토어</button>
						<ul class="header-dep3-menu">
							<li class="header-dep3">
								<a href="/store/main" class="header-deq3-btn">전체</a>
							</li>
							<li class="header-dep3">
								<a href="/store/coupon/main" class="header-deq3-btn">쿠폰</a>
							</li>
							<li class="header-dep3">
								<a href="/eatzCard/cardList" class="header-deq3-btn">EATZ카드</a>
							</li>
							<li class="header-dep3">
								<a href="/store/shopping" class="header-deq3-btn">쇼핑</a>
							</li>
						</ul>
					</li>
					<li class="header-deq2-li">
						<button type="button" class="header-deq2-btn">고객지원</button>
						<ul class="header-dep3-menu">
							<li class="header-dep3">
								<a href="/help/FAQ" class="header-deq3-btn">FAQ</a>
							</li>
							<li class="header-dep3">
								<a href="/help/notice" class="header-deq3-btn">공지사항</a>
							</li>
							<li class="header-dep3">
								<a href="/help/survey" class="header-deq3-btn">설문조사</a>
							</li>
							<li class="header-dep3">
								<a href="/help/voc" class="header-deq3-btn">고객의 소리</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="util-menu">
					<li class="util-item">
						<a href="" class="btn-header-cart">
							
							<span class="count" style="display: none;">5</span>
						</a>
					</li>
					<li class="util-item">
						<a href=""
							class="btn-header-mypage"></a>
					</li>
				</ul>
				<button type="button" class="order-btn"></button>
			</div>
			<div class="sub-gnb-layer">
				<div class="swiper-container-wrap swiper-common-banner">
					<div class="swiper-container">
						<ul class="swiper-wrapper">
						</ul>
						<div class="swiper-pagination"></div>
					</div>
					<div class="swiper-control-wrap">
						<button type="button" class="swiper-button-prev"></button>
						<button type="button" class="swiper-button-next"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
		  var buttons = document.querySelectorAll('.header-deq2-btn');
		  var headerWrapper = document.querySelector('.header-wrapper');
		  buttons.forEach(function(button) {
			button.addEventListener('mouseenter', function() {
			  headerWrapper.classList.add('show-sub-gnb');
			});
			button.addEventListener('mouseleave', function() {
			  headerWrapper.classList.remove('show-sub-gnb');
			});
		  });
		});
	  </script>
</body>

</html>