<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>어드민 페이지</title>
    <link rel="stylesheet" href="/styles/admin.css" />
  <meta charset="UTF-8">
</head>

<body>
    <div class="root">
        <div class="wapper">
            <div class="lnb-wapper">
                <div class="lnb-menu"><a href="/admin/munuadd">메뉴 등록</a></div>
                <div class="lnb-menu"><a href="/admin/menumanage">메뉴정보 관리</a></div>
                <div class="lnb-menu"><a href="/admin/productadd">상품 등록</a></div>
                <div class="lnb-menu"><a href="/admin/productmanage">상품정보 관리</a></div>
                <div class="lnb-menu"><a href="/admin/storeadd">매장 등록</a></div>
                <div class="lnb-menu"><a href="/admin/storemanage">매장정보 관리</a></div>
            </div>
            <div class="context">

            </div>
        </div>
    </div>
</body>

</html>